body {
  margin: 0 auto;
  font-family: 'Arimo', sans-serif;
  color: rgb(25, 25, 25);
  max-width: 100vw;
  overflow-x: hidden;
  position: absolute;
}
header {
  position: fixed;
  top: -60px;
  z-index: 1000;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(white, rgba(255, 255, 255, 0.5));
  color: rgb(25, 25, 25);
  text-align: center;
  opacity: 1;
  border: 2px solid white;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  box-shadow: 0 .5px 5px rgba(0, 0, 0, 0.5);
}
header:hover {
  opacity: 1;
    top: -50px;
}
header li {
  margin-top: 60px;
}
header ul {
  width: 40%;
  margin: 0 auto;
}
a {
  color: rgb(50, 25, 25);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: rgb(120, 61, 61);
}

section {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  margin: 0;
  padding-top: 70px;
}

/* Style the video: 100% width and height to cover the entire window */
/* #myVideo {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
} */


.content {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(images/watercolor2.png);
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.milowissig {
  position: relative;
  top: 20vh;
}

.milowissig, .devicon {
  /* fill: black; */
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
  transition-property: filter;
  transition-duration: .5s;
}

.milowissig:hover, .devicon:hover {
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.8));
}

.blur {
  filter: blur(2px);
  transition-property: filter;
  transition-duration: .5s;
}

.blur:hover {
  filter: blur(0px);
}

.devicon {
  font-size: 30px;
  color: rgb(25, 25, 25);
  text-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.5);
}

.ruby {
  color: rgb(184, 0, 0);
}

.html {
  color: rgb(230, 96, 0);
}

.css {
  color: rgb(29, 131, 205);
}

.ps {
  color: rgb(0, 1, 122);
}

.ai {
  color: rgb(255, 182, 41);
}

.js {
  color: rgb(236, 255, 83);
}

.heroku {
  color: rgb(62, 0, 111);
}

.git {
  color: rgb(223, 87, 0);
}

.gimp {
  color: rgb(60, 73, 64);
}

.google {
  color: rgb(0, 2, 210);
}


#intro h1 {
  margin-top: 0;
}

h2 {
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0;
  /* box-shadow: 0 1px 5px black; */
  font-family: 'Lalezar', cursive;
  font-weight: normal;
}

h3 {
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.125);
  margin: 0;
  margin-bottom: 1px;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.5);
  font-family: 'Lalezar', cursive;
  font-weight: normal;
}

#projects {
  position: absolute;
  top: 100vh;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right, black, rgb(33, 30, 34));
  color: white;
  padding-bottom: 30px;
}

#intro {
  background: linear-gradient(#196aac, #0f4f91);
  background-size: 600% 600%;

  -webkit-animation: bgFade 10s ease infinite;
  -moz-animation: bgFade 10s ease infinite;
  animation: bgFade 10s ease infinite;
  top: 0;
  max-height: 100vh;
  overflow: hidden;
  position: absolute;
}

@-webkit-keyframes bgFade {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes bgFade {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes bgFade {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

#resume {
  padding: 10px;
  padding-top: 70px;
  top: 200vh;
  position: absolute;
  height: auto;
  padding-bottom: 50px;
  overflow-y: auto;
  text-align: justify;
  background-image: url(images/plant2.jpg);
  background-size: cover;
  background-position: center;
}

#projectInfo {
  right: 0;
  background: linear-gradient(to right, black, rgb(33, 30, 34));
  width: 100%;
  height: 100%;
}
#projects li {
  background-color: rgba(255, 255, 255, 0.125);
  padding: 3px;
  margin: 2px;
  text-align: center;
}
#projectInfo p {
  margin: 15px;
  text-align: justify;
}

#projects a {
  color: white;
}

#projectInfo h2 {
  background-color: rgba(255, 255, 255, 0.125);
}

.narrow {
  width: 60%;
  margin: 0 auto;
  background-color: rgba(238, 232, 190, 0.9);
  box-shadow: 0 0 100px black;
  border-radius: 15px;
  overflow: hidden;
}

.narrow p, .narrow li {
  margin: 10px;
}

hr {
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  height: 2px;
  width: 100%;
}

.controls {
  padding: 0;
  margin: 0;
}

.split {
  display: grid;
  grid-template-columns: 50% 50%;
}

.svg {
  position: absolute;
  transition: all;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.btm_left_bg:hover, .btm_left_fg:hover, .top_left_bg:hover, .top_left_fg:hover {
  left: -20vw;
}

.btm_left_bg:hover, .btm_left_fg:hover, .btm_right_bg:hover, .btm_right_fg:hover {
  bottom: -10vh;
}

.top_left_bg:hover, .top_left_fg:hover {
  top: -10vh;
}

.btm_right_bg:hover, .btm_right_fg:hover {
  right: -20vw;
}

.btm_left_bg, .top_left_bg, .btm_right_bg {
  opacity: .5;
  max-width: 25vw;
}

.btm_left_bg {
  bottom: 0;
  left: 0;
  max-width: 40vw;
}

.top_left_bg {
  top: -30vh;
  left: 0;
}

.btm_right_bg {
  bottom: 0;
  right: 0;
}

.btm_left_fg, .top_left_fg, .btm_right_fg {
  max-width: 30vw;
}

.btm_left_fg {
  bottom: -5vh;
  left: 0;
}

.top_left_fg {
  top: 0;
  left: -5vw;
  max-width: 20vw;
}

.btm_right_fg {
  bottom: -5vh;
  right: 0;
}

.flexlist {
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 90%;
}

.flexlist li:hover {
  color: red;
  cursor: pointer;
}

.skillsgrid {
  width: 100%;
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: repeat(6, auto);
  height: auto;
}
.skillsgrid div {
  text-align: center;
  max-width: 80px;
  height: auto;
  margin: 10px;
}
.download {
  margin-top: 80px;
}
.copyrights {
  text-align: center;
  opacity: 0.9;
  margin-top: 3em;
}
