@font-face {
  font-family: 'BBB';
  src: url('fonts/BorisBlackBloxx.woff') format('woff');
}

@font-face {
  font-family: 'Gidole';
  src: url('fonts/Gidole-Regular.woff') format('woff');
}

body {
  margin: 0 auto;
  font-family: 'Gidole', sans-serif;
  color: rgb(25, 25, 25);
  width: 100%;
  overflow-x: hidden;
  position: absolute;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  width: 100%;
  background-color: transparent;
  color: rgb(25, 25, 25);
  text-align: center;
  opacity: 1;
  font-family: "BBB";
  font-variant: small-caps;
}

header li {
  margin-top: 15px;
  border: 2px solid white;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}

header li:hover {
  background-color: black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

header ul {
  width: 40%;
  margin: 0 auto;
}

a {
  color: rgb(52, 52, 52);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: rgb(209, 209, 209);
}

section {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 25px;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

#leftdiv {
  display: flex;
  /* padding: 20px; */
  align-items: center;
  /* background-color: white; */
  border-top-right-radius: 20px;

  justify-content: center;
}

iframe {
  border: 3px solid #000;
  border-radius: 5px !important;
    box-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.video-placeholder {
  width: 100%;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(images/watercolor5.jpg);
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.milowissig {
  position: relative;
  top: 20vh;
}

.milowissig, .devicon {
  /* fill: black; */
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
  transition-property: filter;
  transition-duration: .5s;
}

.milowissig:hover, .devicon:hover {
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.8));
}

.blur {
  filter: blur(2px);
  transition-property: filter;
  transition-duration: .5s;
}

.blur:hover {
  filter: blur(0px);
}

.devicon {
  font-size: 30px;
  color: rgb(25, 25, 25);
  text-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.5);
}

.ruby {
  color: rgb(184, 0, 0);
}

.html {
  color: rgb(230, 96, 0);
}

.css {
  color: rgb(29, 131, 205);
}

.ps {
  color: rgb(0, 1, 122);
}

.ai {
  color: rgb(255, 182, 41);
}

.js {
  color: rgb(236, 255, 83);
}

.heroku {
  color: rgb(62, 0, 111);
}

.git {
  color: rgb(223, 87, 0);
}

.gimp {
  color: rgb(60, 73, 64);
}

.google {
  color: rgb(0, 2, 210);
}

#intro h1 {
  margin-top: 0;
}

#intro h2 {
  background-color: transparent;
  font-family: 'BBB', sans-serif;
  font-variant: small-caps;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
  margin-top: 2em;
  font-weight: bold;
}

h2 {
  text-align: center;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.25); */
  /* background: linear-gradient(transparent, gray); */
  margin: 0;
  /* box-shadow: 0 1px 5px black; */
  font-family: 'BBB', sans-serif;
  font-variant: small-caps;
  font-weight: normal;
}

h3 {
  text-align: center;
  margin: 0;
  margin-bottom: 1px;
  font-family: 'BBB', sans-serif;
  font-variant: small-caps;
  font-weight: normal;
}

#projects {
  position: absolute;
  top: 100vh;
  max-height: 100vh;
  /* height: 100vh; */
  overflow: hidden;
    background-color: rgb(218, 218, 218);
  color: rgb(66, 66, 66);
  padding-bottom: 30px;
}

#intro {
  background-color: white;
  top: 0;
  max-height: 100vh;
  overflow: hidden;
  position: absolute;
}

#resume {
  padding-top: 70px;
  top: 200vh;
  position: absolute;
  height: auto;
  padding-bottom: 50px;
  overflow-y: auto;
  text-align: justify;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#projectInfo {
  /* right: 0; */
  /* background: linear-gradient(to right, black, rgb(33, 30, 34)); */
  width: 100%;
  height: 100%;
}

#projects li {
  background-color: rgba(255, 255, 255, 0.125);
  border-radius: 5px;
  border: 2px solid white;
  padding: 3px 5px;
  margin: 2px;
  text-align: center;
  display: block;
}

#projectInfo p {
  margin: 15px 25px;
  text-align: left;
}

#projects a {
  color: black;
}

#projectInfo h2 {
  /* background-color: rgba(255, 255, 255, 0.125); */
}

.narrow {
  width: 60%;
  margin: 0 auto;
  /* background-color: rgba(201, 200, 190, 0.9); */
  background-color: white;
  /* box-shadow: 0 0 200px black, 0 0 300px black; */
  /* border-left: solid 1px gray;
border-right: solid 1px gray; */
  /* border-radius: 5px; */
  overflow: hidden;
}

.narrow p, .narrow li {
  margin: 10px 25px;
}

hr {
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  height: 2px;
  width: 30%;
}

.controls {
  padding: 0;
  margin: 0;
  padding-right: 3vw;
}

.split {
  display: grid;
  grid-template-columns: 50vw 50vw;
margin-bottom: 10px;
}

.svg {
  position: absolute;
  transition: all;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.flexlist {
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 90%;
}

#projects .flexlist li {
  display: flex;
  align-items: center;
  height: 3.2em;
}

.flexlist li:hover {
  color: rgb(212, 212, 212);
  cursor: pointer;
}

#projects .flexlist li:hover {
  color: white;
  background: rgb(125, 125, 125);
}

.skillsgrid {
  width: 100%;
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: repeat(6, auto);
  height: auto;
}

.skillsgrid div {
  text-align: center;
  max-width: 80px;
  height: auto;
  margin: 10px;
}

.name {
  text-align: center;
}

.download {
  margin-top: 80px;
}

.copyrights {
  text-align: center;
  opacity: 0.9;
  margin-top: 3em;
  color: gray;
}

.copyrights a {
  color: rgb(194, 194, 194);
}

@media only screen and (max-width: 800px) {
  .milowissig {
    position: relative;
    top: 25vh;
    width: 75%;
  }

  #intro h2 {
    font-size: 50px;
    top: 60vh;
    background: transparent;
  }

  header {
    top: -60px;
    left: -5%;
    width: 110%;
    height: 120px;
    border-radius: 50%;
  }

  header li {
    font-size: 30px;
  }

  header ul {
    width: 50%;
  }

  .split {
    grid-template-columns: 96%;
    grid-template-rows: 50vh auto;
    margin-bottom: 20px;
  }

  #leftdiv {
    max-width: 96vw;
  }

  #projects {
    height: auto;
    padding-bottom: 20px;
    width: 100%;

  }

  #resume {
    height: auto;
    margin-top: 120px;
    padding: 10px;
  }

  .narrow {
    width: 95%;
    margin: 10px;
  }
}

footer {
  position: absolute;
  text-align: right;
  bottom: 380vh;
  left: 0;
  z-index: 1000;
  /* display: flex;
  justify-content: space-between; */
  width: 100%;
  background-color: transparent;
}

button {
  border: 2px solid white;
  margin: 8px 15px;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
    font-family: 'BBB';
  background-color: rgba(0, 0, 0, 0.75);
    font-variant: small-caps;
}

button:hover {

  background-color: black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);}

.checkout {
  margin: 7vh 0;
}

@media only screen and (max-width: 500px) {
  header {
    top: -60px;
    left: -5%;
    width: 110%;
    height: 120px;
    border-radius: 50%;
  }

  header li {
    font-size: 20px;
  }

  header ul {
    width: 70%;
    margin: 0;
  }

  .flexlist {
    max-width: 95%;
  }

  #intro h2 {
    font-size: 30px;
    top: 60vh;
  }
}
